/* CSS */

/* paragraph CSS */

@font-face {
    font-family: Blox2;
    src: url(Blox2.ttf);
  }

@font-face {
    font-family: ChessType;
    src: url(ChessType.ttf);
  }

  @font-face {
    font-family: manaspc;
    src: url(manaspc.ttf);
  }

p {
    text-align: left;
    font-family: ChessType;
    font-size: 26px;
    color:rgb(0,255,255);
    }
    
    /* Master of Wisdom paragraph CSS */
    p.masterOfWisdom {
    font-family: manaspc;
    font-size: 30px;
    }
    
    /* Brand Logo Icon CSS */
    i.large.material-icons {
    font-size: 60px;
    }
    
    /* header CSS */
    h1 {
    font-family: Blox2;
    color:rgb(255,0,255);
    font-size: 90px;
    
    }

    h2 {
      font-family: manaspc;
      color:rgb(255,0,255);
      font-size: 40px;
      
      }
    
    /* img CSS */
    img.responsive-img {
    max-width: 50%;
    height: auto;
    float: left;
    margin-right: 1rem;
    }

    body {
     background-color: black;   
    }

    a{
      font-family: ChessType;
      padding: 15px 25px;
      font-size: 40px;
      color:white;
    }

    #navbar{
      width: 100%;
      background-color: grey;

    }


    ul {
      list-style-type: square;
      margin: 0;
      white-space: nowrap;
      padding: 0;
      overflow: hidden;
     
    }
    
    li {
      float: left;

    }
    
    li a {
    
      padding: 40px 70px;
      background-color: #3a3a3a;
    }